.page-title {
  color:rgb(49, 109, 219);

  text-align: center;
}

.header{
  padding: 32px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(255, 255, 255);

}

.subtitle{
  text-align: center;
}
.subtitle > *{
  letter-spacing: 2px;
  font-weight: 100;
}